body,
html {
    position: relative;
    padding: 0;
    margin: 0;
    background-color: #ffffff00;
    font-size: 16px;
    font-family: 'Open sans';
}

button {
    cursor: pointer;
    
}

.titre {
    font-size: 24px;
    text-decoration: none;
}

.container {
    width: 100%;
    margin: 0
}

#description {
    font-size: small;
}



.link:hover {
    color: #19ef06;
    text-decoration: none;
}

.button {
    background-color: #ffffff;
    border: none;
    font-size: 18px;
    border-radius: 30px;
    font-weight: 100;
    box-shadow: 1px 1px 1px rgba(248, 1, 1, 0.5);
}

.button:hover {
    background-color: rgb(10, 10, 171);
    color: white;
    transition: background-color 0.01s, color 0.01s;
}

article {
    height: auto;
}

.logo {
    color: #2906ef;
    font-weight: bold;
    align-content: center;
    text-decoration: none;
    padding: 0 15px 0 15px;
    text-align: left;
    
}

.nav {
    align-items: center;
    display: flex;
}

.nav ul {

    margin: 0;
    font-size: 14;
    list-style: none;
    display: flex;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.nav>ul li {
    
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
footer {
    text-align: center;
    padding: 10 0;
    font-size: 14px;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
.td1 {
    text-align: right;;
    }
.td1:hover{
    color: #19ef06;
    text-decoration: underline;
}

.formulaire {
    width: 500px;
    margin: 0 auto;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.input {
    padding: 2px;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
    accent-color: #010103;
}

label {

    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.btn-contact {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: #2906ef;
}
.BL1{
    display: flex;
    gap: 20px;
     padding: 20px 0;
     border-bottom : 1px solid blue;
    }
    .date{
        width: 100px;
        text-align: center;
        color: black;
        font-weight: bold;
        }
    .date span{
        display: block;
    }
    .description{
    flex: 1;
    }
    .description h2 {
        margin-bottom: 10px;
    }
    .actions{
        display: flex;
        margin-top: 10px;
    }
    .actions button , a {
        flex: 1;
        color:#0000ffe7;
        border: none;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        border-radius: 30px;
    }
    .actions button{
        background-color: #ff0000;
    }
    .actions a{
        background-color:#33ff00 ;
    }


